<%= render 'layouts/admin_navigation' %>
<div class="container">
  <h2>Inloggen</h2>
  <% if logged_in? %>
  <h3>Je bent al ingelogd!!!</h3>
    <p><%= link_to "Klik hierrrr", admin_logout_path %> om uit te loggen.</p>
  <% else %>
  <%= simple_form_for(:session, :html => {role: "form"}) do |f| %>


  <div class="form-group">
    <%= f.input :username, label: "Gebruikersnaam:" %>

  </div>

  <div class="form-group">
    <%= f.input :password, label: "Wachtwoord:" %>

  </div>

  <p>
    <%= f.submit "Inloggen", class: "btn btn-primary" %>
  <% end %>
    <% end %>


</div>