<div id="laatste-vacatures">
<div class="row onzevac">
<div class="col-lg-4 zoekveld">
    <h2 class="left">Onze vacatures</h2>
    <div class="customhrleft"></div>
    <%= form_tag '', :method => :get do %>
    <span class="vacaform">Categorieen</span>
    <fieldset>
        <% @categories.each do |cat| %>
        <div class="radio">
            <%= radio_button_tag 'category_id', cat.id %>
            <label><%= cat.title %></label>
        </div>
        <% end %>
    </fieldset>
    <span class="vacaform">Categorieen</span>
    <div class="row">
        <% @provinces.each_slice(6) do |cats| %>
        <div class="col-sm-6">
            <fieldset>
                <% cats.each do |cat| %>
                <div class="radio">
                    <%= radio_button_tag 'province_id', cat.id %>
                    <label><%= cat.title %></label>
                </div>
                <% end %>
            </fieldset>
        </div>
        <% end %>
    </div>

    <%= submit_tag 'Filter' %>
    <% end %>
</div>