<%= render 'layouts/navigation' %>

<div class="container">

<%= render 'searchform' %>

                <div class="col-lg-8">

                    <h2 class="left">Dit kwam er uit</h2>
                    <div class="customhrleft"></div>

                    <div class="vacatures">
                    <% @vacatures.each do |vacature| %>
                        <div class="vacature">
                            <div class="icon">
                                <i class="glyphicon devicon-<%= vacature.category.logo %>-plain"></i>
                            </div>

                            <div class="tekst">
                                <h3><%= vacature.title %></h3>
                                <p>Google / <%= vacature.province.title %> / 4 juli 2016</p>
                            </div>

                            <div class="buttonz">
                              <%= link_to "Bekijk vacature", root_url, class: "btn btn-primary" %>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    <% end %>
                    </div>
                  <%= will_paginate %>

                </div>
            </div>
        </div>
    </div>