<%= simple_form_for @categorie do |v| %>

  <div class="form-group">
    <%= v.input :title, label: "Titel" %>
  </div>

  <div class="form-group">
    <%= v.input :logo, label: "Logo (zie devicon.fr)" %>
  </div>

  <div class="form-group">
    <%= v.input :description, label: "Beschrijving" %>
  </div>



  <%= v.submit(@categorie.new_record? ? "Voeg categorie toe!" : "Update categorie", class: "btn btn-success") %>
  <%= link_to "Terug naar overzicht", admin_categories_path, class: "btn btn-info" %>
  <% end %>